<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Host" value="acasquete.redis.cache.windows.net" />
    <add key="Alias" value="acasquete" />
    <add key="Port" value="6380" />
    <add key="Password" value="yE4GhOiUtmUZX1ly46rTFnNGPfFuDLfjlOdkRhph/Is=" />
  </appSettings>
</configuration>